<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <!-- The values are the indices TimeSize maps to fonts (#32). -->
    <setting propertyKey="@Properties.timeSize" title="@Strings.TimeSizeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.TimeSizeSmall</listEntry>
            <listEntry value="1">@Strings.TimeSizeMedium</listEntry>
            <listEntry value="2">@Strings.TimeSizeLarge</listEntry>
            <listEntry value="3">@Strings.TimeSizeExtraLarge</listEntry>
        </settingConfig>
    </setting>

    <!-- The values are percentages of the screen height, used as they are (#53). -->
    <setting propertyKey="@Properties.trailLength" title="@Strings.TrailLengthTitle">
        <settingConfig type="list">
            <listEntry value="25">@Strings.TrailLength25</listEntry>
            <listEntry value="50">@Strings.TrailLength50</listEntry>
            <listEntry value="75">@Strings.TrailLength75</listEntry>
        </settingConfig>
    </setting>

</settings>
